body {
  background-color: rgb(36, 36, 36);
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: rgb(36, 36, 36);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 400px;
  width: 650px;
  margin: auto;
}

canvas {
  border: 1px solid lightgray;
  background-color: white;
  cursor: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#toolbar {
  background-color: rgba(255,255,255,.8);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.brush-size, .brush-color {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5px;
  box-shadow: 1px 1px 1px rgb(36, 36, 36);
}

.brush-size:hover, .brush-color:hover {
  box-shadow: -1px -1px 1px rgb(36, 36, 36);
  position: relative;
  top: 1px;
  left: 1px;
}

.brush-size {
  background-color: darkgray;
}

#brush-red {
  background-color: red;
}

#brush-green {
  background-color: green;
}

#brush-blue {
  background-color: blue;
}

#brush-black {
  background-color: black;
}

#brush-white {
  background-color: white;
}

.brush-dot {
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

#brush-large {
  padding: 4px;
}

#brush-medium {
  padding: 7px;
}

#brush-small {
  padding: 10px;
}

#brush {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: black;
  cursor: none;
}